/* Variables */
:root{
  --background: #FFF5D8;
  --primary: #FEDF7A;
  --padding-small: 10px;
  --padding-large: 20px;
  --border-radius: 10px;
  --transition: 0.1s ease-in-out;
  --text-color: #333;
}

/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

button:focus, input:focus{
  outline: none;

}

/* General Styling */
body{
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  background-color: var(--background);
  color: var(--text-color);
  
}

header{
    background-color: var(--primary);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: var(--padding-large);
  
}

button{
  border: none;
  padding: var(--padding-small);
  border-radius: var(--border-radius);
  transition: var(--transition);
  cursor: pointer;
}

.btn-table{
  height: 100%;
  width: 100%;
}

button:hover{
  /* box-shadow: 1px 2px 3px #333; */
  opacity: 0.7;
}

#btn-mark-completed, #btn-delete-book{
  background-color: transparent;
}

table{
  max-width: 80%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  table-layout: auto;
  
}

th, td {
  min-width: 150px;
  padding: var(--padding-small);
  border: 1px solid #ddd;
  text-align: center;
}

.td-button-container:hover{
  opacity: 0.8;
  
}

#td-delete{
  background-color: #FACDD7;
}

#td-status{
  background-color: #D5F5D9 ;
}

th {
  background-color: var(--primary);
  color: var(--text-color);
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}


